/* Left Box */
body {
	background-color: black;
	font-family: 'Noto Sans JP', sans-serif;
}

#leftBox {
	width: 441px;
	height: 490px;
	background-color: white;
}

#topLeft-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding-top: 50px;
}

#logo {
	width: 149px;
	height: 149px;
}

#text {
	width: 245px;
	height: 212px;
	margin: 0px;
	
	text-align: justify;
	font-size: 13px;
}

#h1Tf {
	margin: 0px;
}

#foot-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
}

#text-middle {
	padding-left: 15px;
}